In [46]:
import numpy as np

In [47]:
import pandas as pd

In [48]:
import matplotlib.pyplot as plt

In [49]:
%matplotlib inline

In [50]:
df = pd.read_excel (r'/Users/faaizahdesai/Desktop/City1.xlsx', sheet_name = 'City1')

In [51]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [52]:
ndf = pd.DataFrame(df, columns = (['CityID','CandID','Term_Start','Polls_Close','Turnout']))

In [53]:
ndf = ndf.set_index('Term_Start').sort_values(by = ['Term_Start','CityID','Turnout'])

In [54]:
type(ndf)

pandas.core.frame.DataFrame

In [55]:
ndf.head()

            CityID  CandID Polls_Close  Turnout
Term_Start
1900-01-01      22  262151  1899-12-12    18.14
1900-01-01      22  262149  1899-12-12    18.14
1900-01-01      22  262156  1899-12-12    18.14
1900-01-01      22  104521  1899-12-12    18.14
1900-04-19      30   99625  1900-04-03     0.00

In [56]:
ndf.stack().head()

Term_Start
1900-01-01  CityID                          22
            CandID                      262151
            Polls_Close    1899-12-12 00:00:00
            Turnout                      18.14
            CityID                          22
dtype: object

In [57]:
Turn = ndf.groupby('Term_Start').agg({'Turnout':'max'})

In [58]:
Turn.head()

            Turnout
Term_Start
1900-01-01    18.14
1900-04-19     0.00
1900-05-08     0.02
1901-04-16    19.26
1901-05-14     0.02

In [59]:
Turnout= pd.merge(Turn, ndf, on=['Term_Start','Turnout'])

In [60]:
Turnout = Turnout.sort_values(by = ['Term_Start','CityID','Turnout'])

In [61]:
Turnout.head()

            Turnout  CityID  CandID Polls_Close
Term_Start
1900-01-01    18.14      22  262151  1899-12-12
1900-01-01    18.14      22  262149  1899-12-12
1900-01-01    18.14      22  262156  1899-12-12
1900-01-01    18.14      22  104521  1899-12-12
1900-04-19     0.00      30   99625  1900-04-03

In [62]:
pc = ndf.groupby(['Term_Start','CityID']).agg({'Polls_Close':'max'})

In [63]:
pc = pc.sort_values(by = ['Term_Start','CityID'])

In [64]:
pc.head()

                  Polls_Close
Term_Start CityID
1900-01-01 22      1899-12-12
1900-04-19 30      1900-04-03
1900-05-08 5       1900-04-02
1901-04-16 59      1901-04-02
1901-05-14 5       1901-04-02

In [65]:
PC= pd.merge(pc, ndf, on=['Term_Start','Polls_Close'])

In [66]:
PC.head()

           Polls_Close  CityID  CandID  Turnout
Term_Start
1900-01-01  1899-12-12      22  262151    18.14
1900-01-01  1899-12-12      22  262149    18.14
1900-01-01  1899-12-12      22  262156    18.14
1900-01-01  1899-12-12      22  104521    18.14
1900-04-19  1900-04-03      30   99625     0.00

In [67]:
merge= pd.merge(PC, Turnout, on=['Term_Start','CityID'])

In [68]:
merge = merge.sort_values(by = ['Term_Start'])

In [69]:
merge.head()

,Polls_Close_x,CityID,CandID_x,Turnout_x,Turnout_y,CandID_y,Polls_Close_y
Term_Start,,,,,,,
1900-01-01,1899-12-12,22,262151,18.14,18.14,262151,1899-12-12
1900-01-01,1899-12-12,22,104521,18.14,18.14,262156,1899-12-12
1900-01-01,1899-12-12,22,104521,18.14,18.14,262149,1899-12-12
1900-01-01,1899-12-12,22,104521,18.14,18.14,262151,1899-12-12
1900-01-01,1899-12-12,22,262156,18.14,18.14,104521,1899-12-12

In [70]:
compare = merge[merge['CandID_x']!= merge['CandID_y']]

In [71]:
len(compare)

12072

In [72]:
len(merge)

15334

In [73]:
compare.head()

,Polls_Close_x,CityID,CandID_x,Turnout_x,Turnout_y,CandID_y,Polls_Close_y
Term_Start,,,,,,,
1900-01-01,1899-12-12,22,104521,18.14,18.14,262156,1899-12-12
1900-01-01,1899-12-12,22,104521,18.14,18.14,262149,1899-12-12
1900-01-01,1899-12-12,22,104521,18.14,18.14,262151,1899-12-12
1900-01-01,1899-12-12,22,262156,18.14,18.14,104521,1899-12-12
1900-01-01,1899-12-12,22,262156,18.14,18.14,262149,1899-12-12