In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [5]:
df = pd.read_excel (r'/Users/faaizahdesai/Desktop/City1.xlsx', sheet_name = 'City1')

In [6]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [124]:
ndf = pd.DataFrame(df, columns = (['CityID','CandID','Term_Start','Polls_Close','Turnout']))

In [149]:
ndf = ndf.set_index('Term_Start').sort_values(by = ['Term_Start','CityID','Turnout'])

In [150]:
type(ndf)

pandas.core.frame.DataFrame

In [196]:
ndf.head()

            CityID  CandID Polls_Close  Turnout
Term_Start
1900-01-01      22  262151  1899-12-12    18.14
1900-01-01      22  262149  1899-12-12    18.14
1900-01-01      22  262156  1899-12-12    18.14
1900-01-01      22  104521  1899-12-12    18.14
1900-04-19      30   99625  1900-04-03     0.00

In [197]:
ndf.stack().head()

Term_Start
1900-01-01  CityID                          22
            CandID                      262151
            Polls_Close    1899-12-12 00:00:00
            Turnout                      18.14
            CityID                          22
dtype: object

In [211]:
Turn = ndf.groupby('Term_Start').agg({'Turnout':'max'})

In [212]:
Turn.head()

            Turnout
Term_Start
1900-01-01    18.14
1900-04-19     0.00
1900-05-08     0.02
1901-04-16    19.26
1901-05-14     0.02

In [213]:
Turnout= pd.merge(Turn, ndf, on=['Term_Start','Turnout'])

In [214]:
Turnout = Turnout.sort_values(by = ['Term_Start','CityID','Turnout'])

In [215]:
Turnout.head()

            Turnout  CityID  CandID Polls_Close
Term_Start
1900-01-01    18.14      22  262151  1899-12-12
1900-01-01    18.14      22  262149  1899-12-12
1900-01-01    18.14      22  262156  1899-12-12
1900-01-01    18.14      22  104521  1899-12-12
1900-04-19     0.00      30   99625  1900-04-03

In [216]:
pc = ndf.groupby('Term_Start').agg({'Polls_Close':'max'})

In [217]:
pc.head()

           Polls_Close
Term_Start
1900-01-01  1899-12-12
1900-04-19  1900-04-03
1900-05-08  1900-04-02
1901-04-16  1901-04-02
1901-05-14  1901-04-02

In [218]:
PC= pd.merge(pc, ndf, on=['Term_Start','Polls_Close'])

In [219]:
PC.head()

           Polls_Close  CityID  CandID  Turnout
Term_Start
1900-01-01  1899-12-12      22  262151    18.14
1900-01-01  1899-12-12      22  262149    18.14
1900-01-01  1899-12-12      22  262156    18.14
1900-01-01  1899-12-12      22  104521    18.14
1900-04-19  1900-04-03      30   99625     0.00

In [220]:
merge= pd.merge(result, result1, on=['Term_Start','CityID'])

In [221]:
merge = result2.sort_values(by = ['Term_Start'])

In [222]:
merge.head()

,Turnout_x,CityID,CandID_x,Polls_Close_x,Polls_Close_y,CandID_y,Turnout_y
Term_Start,,,,,,,
1900-01-01,18.14,22,262151,1899-12-12,1899-12-12,262151,18.14
1900-01-01,18.14,22,262151,1899-12-12,1899-12-12,262149,18.14
1900-01-01,18.14,22,262151,1899-12-12,1899-12-12,262156,18.14
1900-01-01,18.14,22,262151,1899-12-12,1899-12-12,104521,18.14
1900-01-01,18.14,22,262149,1899-12-12,1899-12-12,262151,18.14

In [223]:
compare = merge[merge['CandID_x']!= merge['CandID_y']]

In [224]:
len(compare)

6418

In [226]:
len(merge)

8094